html,
* {
	margin: 0;
	padding: 0;
	border: 0;
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
	font-family: "Montserrat", sans-serif;
	background-color: #303235;
	overflow-x: hidden;
	position: fixed;
}
.header {
	text-align: center;
}
.header__title {
	width: inherit;
	background-color: #303235;
	display: flex;
	justify-content: center;
	height: 50px;
}
.header__logo {
	height: 50px;
	margin-top: 5px;
	align-self: center;
}
.header__image {
	height: 30vh;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: #26292b;
}
.header__img {
	height: inherit;
}
h3 {
	color: #ffffff;
	font-size: 1em;
	font-weight: 400;
	width: 90vw;
	padding-left: 5vw;
}
.header__description {
	margin-bottom: 10px;
}
.col {
	display: none;
}
#hdnimg {
	display: none;
}
#content {
	width: 100vw;
	height: 100vw;
}
#qform {
	width: 90vw;
	height: 40vw;
	margin-left: 5vw;
	text-align: center;
	background-color: #464c54;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
}
#liveprice {
	font-size: 40px;
	color: #ffffff;
	text-align: center;
}
#select-quantity {
	font-size: 15px;
	margin: 2.5px;
	padding: 5px;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	background-color: #1f1f1f;
	color: #ffffff;
}
.footer {
	margin-top: 10px;
}
button,
.snipcart-add-item {
	font-size: 20px;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	background-color: #1f1f1f;
	color: #ffffff;
}
@media only screen and (min-width: 768px) {
	/* For desktop: */
	.col {
		width: 20vw;
		height: 100vw;
		background-color: #1b1d20;
		top: 0;
		display: block;
	}
	h3 {
		color: #ffffff;
		font-size: 1em;
		font-weight: 400;
		width: 50vw;
		padding-left: 5vw;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#content {
		width: 60vw;
		height: 100vw;
	}
	#qform {
		width: 50vw;
		height: auto;
		margin-left: 5vw;
		text-align: center;
		background-color: #464c54;
		display: flex;
		flex-direction: column;
	}
	#liveprice {
		font-size: 75px;
		color: #ffffff;
		text-align: center;
	}
	#select-quantity {
		font-size: 1em;
		margin: 10px;
		padding: 10px;
		border-radius: 5px;
		font-family: "Montserrat", sans-serif;
		text-align: center;
		background-color: #1f1f1f;
		color: #ffffff;
	}
	.header__title {
		width: inherit;
		background-color: #303235;
		display: flex;
		justify-content: center;
		height: 10vh;
	}
	.header__logo {
		height: 7.5vh;
		margin-top: 5px;
		align-self: center;
	}
	.header__image {
		height: 50vh;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		background-color: #26292b;
	}
	.header__img {
		height: inherit;
	}
	.header__description {
		margin-bottom: 20px;
	}
}
