<body>
		<header class="header">
			<div class="header__title">
				<img
					class="header__logo"
					src="\images\Fast mask logo.png"
					alt="Fast Mask"
				/>
			</div>
			<div class="header__image">
				<img class="header__img" src="/images/mask.jpg" alt="Face mask image" />
			</div>
			<h3 class="header__description">
				Birmingham-based delivery service for Healthcare grade 3-ply protective
				facemasks.
			</h3>
			<div class="header__cart">
				<a href="#" class="snipcart-checkout" style="text-decoration: none;">
					<div class="snipcart-summary">
						<img id="hdnimg" src="/images/icons/cart.svg" alt="" />
					</div>
				</a>
			</div>
		</header>
	</body>
</html>
