<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="shortcut icon"
			type="image/x-icon"
			href="/images/icons/favicon.ico"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<link
			rel="stylesheet"
			href="https://cdn.snipcart.com/themes/v3.0.14/default/snipcart.css"
		/>
		<div
			id="snipcart"
			data-api-key="MjM3OGQ0MzctZTU1Ny00OTAzLThjYjMtNmVmNzg0YzBiYmQwNjM3MjY5OTY1NjA1OTUxNzQz"
			hidden
		></div>
		<script src="https://cdn.snipcart.com/themes/v3.0.14/default/snipcart.js"></script>
		<link rel="stylesheet" href="/css/style.css" />
		<title>Fast mask</title>
	</head>
	<body>
		<header class="header">
			<div class="header__title">
				<img
					class="header__logo"
					src="\images\Fast mask logo.png"
					alt="Fast Mask"
				/>
			</div>
			<div class="header__image">
				<img class="header__img" src="/images/mask.jpg" alt="Face mask image" />
			</div>
			<h3 class="header__description">
				Birmingham based delivery service for Healthcare grade 3-ply protective
				facemasks.<br />
				Providing next working day delivery on masks ordered before 4pm.
			</h3>
			<div class="header__cart">
				<a href="#" class="snipcart-checkout" style="text-decoration: none;">
					<div class="snipcart-summary">
						<img src="/images/icons/cart.svg" alt="" />
					</div>
				</a>
			</div>
		</header>
	</body>
</html>
